@model IEnumerable<trabalho1.Models.Log>

@{
    ViewBag.Title = "Logs";
}

<h2>Logs Usuários</h2>

@using (Html.BeginForm())
{
    if (User.IsInRole("Admin"))
    {
        <div class="form-group">
            <label class="input-group">Email: @Html.TextBox("user")</label>
            <input type="submit" value="Buscar" class="btn-primary" />
        </div>
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.Usuario.UserName)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Acao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
    </tr>
}

</table>
